     body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
	footer{
		text-align:center;
	}
	
	.area-actividad{
		background-color:gray;
	}

#canvas{
	height: 400px;
	width: 400px;
	background-color: gray;
}