body {
    padding-top: 60px;
    padding-bottom: 40px;
}

footer{
    text-align:center;
}

.area-actividad{
    background-color:gray;
}

#canvas{
    height: 400px;
    width: 400px;
    background-color: white;
}

.letter {
    text-align: center;
    width: 20px;
    height: 18px;
    float: left;
    padding-top: 2px;
    z-index: 2;
}

#sopa{
    width: 400px;
    height: 400px;
}

.lateral {
    height: 275px;
}

.imagen {
    position: relative;
    float: left;
}

.descripcion {
    padding-bottom: 3px;
}

#puzzle_area {
    background-color: #ffffff;
    height: 705px;
    margin: 20px auto;
    position: relative;
    width: 705px;
}

#tablero div {
    background: url("../imagenes/uml.png") no-repeat scroll 0 0 #ffffff;
    cursor: pointer;
    height: 175px;
    line-height: 175px;
    position: absolute;
    text-align: center;
    width: 175px;
    box-shadow: inset 0 0 20px #555555;
}

.grupobotones {
    width: 250px;
    margin: 20px auto;
    position: relative;
}

.busy{

}

.borde{
    padding: 8px;
    text-align: left;
    border: 1px solid #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.selected{
    background-color: lightblue;
}

.found{
    background-color: green;
}

.crossed{
    text-decoration: line-through;
}

#palabras{
    height: 400px;
    width: 200px;
}

#reiniciar{
    width: 100px;
    margin-left: 50px;
}

.panel_actividades {
    padding: 60px;
    color: inherit;
    background-color: #ecf0f1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.preguntasvf {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 150px;
    line-height: 25px;
}

.explicacion{
    color: green;
    margin-top: -10px;
    margin-left: 60px;
}

.oculta{
    display: none;   
}

.vferror{
    background-color: rgb(255, 160, 122);
}

.right{

}
.wring{
    
}